<div>
  <div class="d-grid gap-2"style="text-align: center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand"><h1>Safe Sense</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" (click)="Subir()">Nueva Captura</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarColor02" style="margin-left: 600px">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" (click)="Ingresar()">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="card-body" style="margin-left: 100px; margin-top: 50px; margin-right: 100px">
    <table class="table table-hover" style="text-align: center; margin-top: 25px">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>IP</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Movimiento</th>
        <th>Foto</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reporte of reportes | paginate: {itemsPerPage: 5, currentPage: actual}; let i = index" class="text-center">
        <td>{{reporte.id}}</td>
        <td>{{reporte.nombreSensor}}</td>
        <td>{{reporte.ip}}</td>
        <td>{{reporte.fecha}}</td>
        <td>{{reporte.hora}}</td>
        <td>{{reporte.movimiento}}</td>
        <td><img src="data:image/png;base64,{{reporte.imagen}}" width="150" height="100" /></td>
        <td>
          <button class="btn btn-warning" data-toggle="modal" data-target="#abrirEditar" type="button">Editar</button>
          <button class="btn btn-danger" style="margin-left: 10px" Delete>Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="actual = $event"></pagination-controls>
  </div>
</div>
