<app-heading></app-heading>
<div class="FormBody" *ngIf="currentUser.nombre; else loggedOut">
  <legend style="text-align: center">
    <h1><img src="assets/images/lock.png" width="55" height="50">Safe Sense</h1>
  </legend>
  <div *ngIf="isSafe" style="text-align: center">
    <img src="../../../assets/images/camera-black.png">
  </div>
  <div *ngIf="mostraralert" style="text-align: center">
    <img src="../../../assets/images/camera-red.png">
  </div>
  <div>
    <div *ngIf="isSafe" class="card text-white bg-dark mb-3" id="alerta"
      style="max-width: 20rem; margin-inline: auto; margin-top: 25px">
      <div class="card-header" style="text-align: center">Info!</div>
      <div class="card-body" style="text-align: center">
        <h4 class="card-title">You're safe</h4>
      </div>
    </div>
    <div *ngIf="mostraralert" class="card text-white bg-danger mb-3" id="alerta"
      style="max-width: 20rem; margin-inline: auto; margin-top: 25px">
      <div class="card-header" style="text-align: center">Alert!</div>
      <div class="card-body" style="text-align: center">
        <h4 class="card-title">We detect a movement signal</h4>
        <p class="card-text">{{fecha |  date:'MM/dd/yyyy'}} <br /> {{hora | date:'h:mm a'}} <br /> {{nombreSensor}}</p>
      </div>
    </div>
    <div *ngIf="mostraralert" id="alerta">
      <div class="card-body" style="text-align: center">
        <img src="data:image/png;base64,{{imagen}}" alt="Nature" class="responsive">
      </div>
    </div>
    <div style="text-align: center; margin-top: 50px" *ngIf="isSafe">
      <button (click)="StratAlert()" type="button" class="btn btn btn-dark">
        <h4>Registro de actividad</h4>
      </button>
    </div>
    <div style="text-align: center; margin-top: 50px" *ngIf="mostraralert">
      <button (click)="StopAlert()" type="button" class="btn btn btn-dark">
        <h4>Detener</h4>
      </button>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <div class="background-image" alt="" align="center">
    <h4>Por favor Iniciar sesión</h4>
  </div>
</ng-template>