.FormBody{
    padding: 50px 15px 50px 15px;
}

.background-image {
    background: url(../../assets/images/background-1.jpg) no-repeat center;
    background-size: 50%;
    height: 85vh;
}
hr{
    color: white;
}