<div>
  <div class="container FormBody">
    <div class="col-md-12">
      <div class="col-md-6 offset-md-3 offset-md-3">
        <form>
          <fieldset>
            <legend style="text-align: center">
              <h1><img src="assets/images/lock.png" width="55" height="50">Safe Sense</h1>
            </legend>
            <legend style="text-align: center">
              <h1>Registrate</h1>
            </legend>
            <div class="form-group">
              <label for="nombre" class="form-label mt-4">
                <h3>Nombre(s):</h3>
              </label>
              <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control" id="nombre"
                aria-describedby="nameHelp">
            </div>
            <div class="form-group">
              <label for="apellido" class="form-label mt-4">
                <h3>Apellido(s):</h3>
              </label>
              <input type="text" [(ngModel)]="apellido" name="apellido" class="form-control" id="apellido"
                aria-describedby="lastnameHelp">
            </div>
            <div class="form-group">
              <label for="telefono" class="form-label mt-4">
                <h3>Teléfono:</h3>
              </label>
              <input type="text" [(ngModel)]="telefono" name="telefono" class="form-control" id="telefono"
                aria-describedby="phoneHelp">
            </div>
            <div class="form-group">
              <label for="direccion" class="form-label mt-4">
                <h3>Dirección:</h3>
              </label>
              <input type="text" [(ngModel)]="direccion" name="direccion" class="form-control" id="direccion"
                aria-describedby="addressHelp">
            </div>
            <div class="form-group">
              <label for="correo" class="form-label mt-4">
                <h3>Correo Electronico:</h3>
              </label>
              <input type="text" [(ngModel)]="correo" name="correo" class="form-control" id="correo"
                aria-describedby="emailHelp" placeholder="correo@gmail.com">
            </div>
            <div class="form-group">
              <label for="password" class="form-label mt-4">
                <h3>Contraseña:</h3>
              </label>
              <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password">
            </div>
            <div *ngIf="!mostraralert" class="alert alert-dismissible alert-danger" id="alerta">
              <strong>{{message}}</strong>
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
              <strong>{{message}}</strong>
            </div>
            <div style="text-align: center; margin-top: 50px">
              <button (click)="Registrar()" type="button" class="btn btn btn-dark">
                <h4>Registrar</h4>
              </button>
              <button (click)="Ingresar()" type="submit" class="btn btn btn-dark" style="margin-left: 50px">
                <h4>Volver</h4>
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>