<div>
  <div class="d-grid gap-2"style="text-align: center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h1>Safe Sense</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
  <div style="margin-left: 100px; margin-top: 50px; margin-right: 100px">
    <form>
      <fieldset>
        <legend  style="text-align: center"><h1>Regstrarse</h1></legend>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-4"><h3>Nombre(s):</h3></label>
          <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-4"><h3>Apellido(s):</h3></label>
          <input type="lastname" class="form-control" id="exampleInputLastName" aria-describedby="lastnameHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-4"><h3>Teléfono:</h3></label>
          <input type="phone" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-4"><h3>Dirección:</h3></label>
          <input type="address" class="form-control" id="exampleInputAddress" aria-describedby="addressHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-4"><h3>Correo Electronico:</h3></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo@gmail.com">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label mt-4"><h3>Contraseña:</h3></label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div style="text-align: center; margin-top: 50px">
          <button type="submit" class="btn btn-primary"><h4>Registrar</h4></button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
