<div>
  <div class="container FormBody">
    <div class="col-md-6 offset-md-3 offset-md-3">
      <form>
        <fieldset>
          <legend style="text-align: center">
            <h1><img src="assets/images/lock.png" width="55" height="50">Safe Sense</h1>
          </legend>
          <legend style="text-align: center">
            <h1>Ingresar</h1>
          </legend>
          <div class="form-group">
            <label for="correo" class="form-label mt-4">
              <h3>Correo Electronico:</h3>
            </label>
            <input type="correo" [(ngModel)]="correo" name="correo" class="form-control" id="correo"
              aria-describedby="emailHelp" placeholder="correo@gmail.com" required>
          </div>
          <div class="form-group">
            <label for="password" class="form-label mt-4">
              <h3>Contraseña:</h3>
            </label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required>
          </div>
          <div *ngIf="!alerta" class="alert alert-dismissible alert-danger" id="alerta">
            <strong>{{message}}</strong>
          </div>
          <div class="alert alert-success" *ngIf="isLoggedIn" >
            <strong>{{message}}</strong>
          </div>
          <div style="text-align: center; margin-top: 50px">
            <button (click)="Ingresar()" type="button" class="btn btn btn-dark">
              <h4>Ingresar</h4>
            </button>
          </div>
          <div style="text-align: center; margin-top: 50px">
            <a href="registrar" style="color: rgb(0, 0, 0);" >Registrar</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>